@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  
  --color-pawa-blue: #002855;
  --color-pawa-blue-hover: #001d3d;
  --color-pawa-red: #D62828;
  --color-pawa-red-hover: #b51f1f;
  
  --radius-card: 0.75rem; /* 12px */
  --radius-input: 0.5rem; /* 8px */
  --radius-btn: 0.5rem;   /* 8px */
}

@layer base {
  body {
    @apply font-sans text-slate-900 bg-slate-50 antialiased;
  }
}
